.post {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.postItems {
  display: grid;
  grid-template-columns: auto auto auto;
}

section {
  margin-bottom: 100px;
}

h1 {
  text-align: center;
}
